body,html {
  height: 100%;
}

.about-section {
    min-height: 100%;
    height: auto;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
    text-align: center;
    background: #fff;
}

.navbar-custom {
    padding: 0 1rem !important;
    font-family: "Operator STD", Monaco, monospace;
}

.col-centered {
    display: block;
    float: none;
    margin: 0 auto;
}

.row-canvas {
    display: contents;
}

.upperAbout{
    padding-left: 30px;
}


h1, h2{
  color:  #464641;
 font-family: "Operator STD", Monaco, monospace;
 font-variant: small-caps;
 letter-spacing: 3px;
 text-align: center;
}

b {
  color:  #464641;
}


.text {
    font-family: "Operator STD", Monaco, monospace;
    font-variant: small-caps;
    letter-spacing: 1px;
}

a {
    color:  #a6c0c5;
}

a:hover {
    color: #ececda; 
    text-decoration:none;
}


.profileImage {
    width: 100%;
    height: auto;
}

.canvas {
    border:1px solid #FFC0CB;
    margin: auto;
    display: block;
}

.draggable {
    width:22%;
}

