body,html {
  height: 100%;
}

body {
  padding-top: 50px;
}

.wide {
  width:100%;
  height:50%;
  height:calc(100% - 1px);
  background:url('../img/header.jpg');
  background-size:cover;
  background-position:center;
  padding-bottom: 50px;
}

.wide img {
  width:100%;
}

.navbar-default {
    background-color: white;
    border-color: white;
}
.navbar-default .navbar-nav > li > a {
    /*color: #dbddd5;*/
    color: #FFC0CB;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: white;
    color: #FFC0CB;
    text-decoration:underline;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: white;
    /*color: #FFE4E1;*/
    color: #ececda;
}

.navbar-default .navbar-header .navbar-brand {
    color: #FFC0CB;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #FFC0CB;
}

@media only screen and (max-width: 766px) {
.collapsing, .in {background-color: white}
.collapsing ul li a, .in ul li a {color: #FFC0CB!important;}
.collapsing ul li a:hover, .in ul li a:hover {color: #FFE4E1!important}
}

h1 {
  color:  #464641;
 font-family: "Operator STD", Monaco, monospace;
 font-variant: small-caps;
 letter-spacing: 3px;
}

b {
  color:  #464641;
}

.text {
    font-family: "Operator STD", Monaco, monospace;
    font-variant: small-caps;
    letter-spacing: 1px;
}

.cv-button {
  background-color: white;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: #FFC0CB 1px solid;
  color:  #464641;

}

.cv-button:hover {
  color: #ececda; 
  text-decoration:none;
}

a {
    color:  #a6c0c5;
}

a:hover {
    color: #ececda; 
    text-decoration:none;
}

h1 {
    text-align: center;
}

.profileImage {
    width:248px;
    height:178px;
}

